.Shred {
    margin-left: 5%;
    padding-top: 1%;
}
.video {
    margin-left: 5%;
    padding-top: 5%;
}
.copyR1 {
    margin-left: 5%;
    padding-top: 1%;
}
.copyR2 {
    margin-left: 20%;
    padding-top: 1%;
}